<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
<listeners>
<listener class-name="Academy1234.Listeners"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="Academy1234.HomePage"/>
      <class name="Academy1234.HomePage1"/>
      <class name="Academy1234.ValidateNavigationBar"/>
      <class name="Academy1234.ValidateTitle"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
